// KLEUREN:


$main-background:#f0fff0; 
$add:#87cefa;
$white-tekst:#fff;
$add-button:#5f9ea0;
$header:#fffff0; 
$list:#e0ffff;  
$delete: #ff6347; 
$pushDelete:#dc143c;
$borders:#d3d3d3; 
$ouside-box-shadow:#808080; 
$lettershadow:#a9a9a9; 
